<ion-view view-title="Home" class="home-page">
  <ion-content>


      <div class="text-center">
        <p>January 25, 2016</p>
      </div>


    <div class="list">

  <div class="item item-body">
    <h2 class="home-navy-text home-header"> Reading & Routes </h2>
    <p>Last Assignment: <small>29/11/1992 Monday 14:00 PM </small></p>
    <p>Last Submission: <small>29/11/1992 Monday 21:00 PM</small></p>
  </div>



  <div class="item item-body text-left">
    <h2 class="navy-text home-header">User Details</h2>
    <p>Signed In: <small>29/11/1192 10:00 AM</small></p>
    <p>Assigned Meters: <small>105</small></p>
    <p>Updated Meters: <small>95</small></p>
  </div>

</div>

  </ion-content>
</ion-view>
