<ion-modal-view class="meter-info-page">
  <ion-header-bar>
    <h1 class="title text-center navy-text">Meter Information</h1>
    <div class="buttons"> <i class="icon ion-nuclear"></i> </div>
  </ion-header-bar>
  <ion-content>

    <div class="document-info row text-center">

      <div class="col">

        <h4>Meter No</h4>
        <p>103050904</p>

      </div>

      <div class="col">

        <h4>Route No</h4>
        <p>10WACV0904</p>

      </div>

    </div>

    <div class="hrl"></div>

    <div class="row">

      <div class="customer-info col">

        <p> <span> Abdulla Kaleem </span> </p>
        <p>H.Hoatensia, Irumathy Bai</p>
        <p># 12354689A65ge</p>

      </div>

      <div class="reading-info col">

        <p> <span> Abdulla Kaleem </span> </p>
        <p>H.Hoatensia, Irumathy Bai</p>
        <p># 12354689A65ge</p>

      </div>

    </div>

    <div class="row">

      <div class="col">

        <form class="update-reading">

          <input type="text" name="meter-reading"/>

          <button class="update-button">
  Clear Button
</button>

        </form>

      </div>

    </div>


  </ion-content>

</ion-modal-view>
