<ion-view view-title="Routes" class="routes-page">
  <ion-content>


      <div class="text-center">
        <p>January 25, 2016</p>
      </div>


    <div class="routes-reload-wrapper text-center">

      <button class="button button-positive"><i class="ion-loop"></i></button>

    </div>

    <div class="list">

  <div class="item item-button-right">
    <p>Sample Route Name Something</p>
    <button class="button">
      <i class="ion-chevron-right"></i>
    </button>
  </div>


</div>

  </ion-content>
</ion-view>
